body {
  width: 95%;
  margin: 20px auto;
  font-family: Comic Sans MS;
  color: blue;
}

.intro {
  text-align: center;
  border: 1px solid black;
  border-radius: 7px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.test {
  text-align: justify;
}
